.container{
    margin-bottom:10px;
}
.pink-background{
    background-color:rgba(209, 157, 173, 0.911);
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color:rgb(209, 95, 114);
}
.buy-now{
    background-color:rgb(235, 17, 90);
    border:none;
    border-radius:8px;
    padding:9px 25px;
    cursor: pointer;
}

.cat1,.cat2,.cat3{
    margin-top:20px;
    padding: 20px 60px;
    border-radius: 10px;
}
.cat1{
    background-color:orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.catagories h1{
    color: white;
}
.catagories img{
    width:100px;
}
.card{
    border:none;
    border-radius:15px;
    box-shadow:5px 5px 20px lightgrey;
    margin:15px;
}
.card-footer{
    background-color:white;
    border:none;
}

.dog{
    margin-top:30px;
}
#subscribe{
    width:1105px;
    height:300px;
}
#subscribe h6{
    color:gray;
}
footer{
    text-align: center;
    margin-top:30px;
}