.container{
    margin-bottom:10px;
}
.pink-background{
    background-color:rgba(209, 157, 173, 0.911);
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color:rgb(209, 95, 114);
}
.buy-now-button{
    background-color: rgb(253, 100, 126);
    color:white;
    border:none;
    border-radius:8px;
    padding:9px 25px;
    cursor:pointer;